{
	auto_https off
	admin off
	order replace after encode
}

:3000 {
	handle_path /_assets/* {
		root * /srv/assets
		header Cache-Control "no-store, max-age=0"
		file_server
	}

	handle /training/* {
		root * /opt/outline/public
		header Cache-Control "public, max-age=604800"
		header Access-Control-Allow-Origin "*"
		file_server
	}

	handle {
		reverse_proxy localhost:3001 {
			header_up Accept-Encoding identity
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-SSL on
			header_up X-Forwarded-Port 443
			header_up Host {host}
		}

		replace "</head>" "<link rel=\"stylesheet\" href=\"/_assets/cover-image.css?v=20260605-lms\"><script src=\"/_assets/cover-image.js?v=20260605-lms\" defer></script></head>"
	}
}
